### Learning Julia

In [1]:
# One line comment looks like this
#= A multi-line comment looks like this
blah 
blah
=#

In [2]:
# placing a ; following an execution prevents printing of the cell
x = "test";

In [3]:
# for simple math functions, they're all the same as python except exponential
3^2

9

### Strings

In [4]:
# two ways to set strings
# this one errors on quotes within the sentence
x = "hello world, so nice to meet you"
# this one does not
x = """Hello world, so "nice" to meet you"""

"Hello world, so \"nice\" to meet you"

In [5]:
# single quotes are used for char only
x = 'a';

In [6]:
# you can reference values in a setence like this
println("$x, b, c, d, e")

a, b, c, d, e

### Data structures
1. dictionaries
2. tuples
3. arrays

#### dictionary

In [7]:
dictionary = Dict("Jesse_PN" => "555-555-5555","MK_PN" => "554-555-5555")
# add a new entry like this
dictionary["Autumn"] = "553-555-5555"
dictionary

Dict{String,String} with 3 entries:
  "Jesse_PN" => "555-555-5555"
  "Autumn"   => "553-555-5555"
  "MK_PN"    => "554-555-5555"

In [8]:
# reference a value in a similar way
dictionary["Autumn"]

"553-555-5555"

In [9]:
# delete a key and return the value deleted
pop!(dictionary,"Autumn")

"553-555-5555"

In [10]:
dictionary

Dict{String,String} with 2 entries:
  "Jesse_PN" => "555-555-5555"
  "MK_PN"    => "554-555-5555"

#### tuples

In [12]:
tuple = ("This","is","a","tuple")
# julia indexes starting at 1 instead of 0 like python
tuple[1]

"This"

In [15]:
# cannot reassign tuple
tuple[1] = "yo"

MethodError: MethodError: no method matching setindex!(::NTuple{4,String}, ::String, ::Int64)

#### Arrays

In [17]:
array = ["One" ,2 ,"three"];

In [18]:
array[2]

2

In [22]:
# index into array and rewrite 
array[1] = 1
array[3] = 3
array

3-element Array{Any,1}:
 1
 2
 3

In [23]:
# add with push!, remove last entry with pop!
push!(array,4)

4-element Array{Any,1}:
 1
 2
 3
 4

#### loops

In [26]:
x = 0
while x < 2
    x+=1
    println("test")
end

test
test

In [28]:
i=1
while i <= length(array)
    x = array[i]
    println(x)
    i+=1
end

1
2
3
4

In [29]:
for i in array
    println(i)
end

1
2
3
4